<div class="relative min-h-screen flex ">
  <div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0 bg-white">
    <div
      class="sm:w-1/2 xl:w-3/5 h-full hidden md:flex flex-auto items-center justify-center p-10 overflow-hidden bg-green-50 text-white bg-no-repeat bg-cover relative">
      <div class="absolute bg-black opacity-55 inset-0 z-0"></div>
      <div class="w-full  max-w-md z-10">
        <img src="../../../../assets/images/logo/500x500-logotipo2.png" alt="Sistema Dedicado" >
      </div>
      <!---remove custom style-->
      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div
      class="md:flex md:items-center md:justify-center w-full md:h-full sm:h-full sm:flex sm:w-2/5 xl:w-2/5 p-8  md:p-10 lg:p-14 sm:rounded-lg md:rounded-none bg-white">
      <div class="max-w-md sm:mx-auto sm:max-w-full w-full space-y-8">
        <div class="text-center">
          <h2 class="mt-6 text-3xl font-bold text-blue-500">
            Bem Vindo(a)!
          </h2>
          <p class="mt-2 text-sm text-blue-400">Informe suas credenciais para acesso</p>
        </div>
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>