<form class="m-auto space-y-6">
  <input type="hidden" name="remember" value="true">
  <div class="relative">
    <div class="absolute right-3 mt-4">
    </div>
    <label class="ml-3 text-sm font-bold text-blue-400 tracking-wide">E-Mail</label>
    <input
      class=" w-full text-base px-4 py-2 border-b border-blue-300 focus:outline-none rounded-2xl focus:border-blue-500"
      type="email" placeholder="seu@email.com" required>
  </div>
  <div class="mt-8 content-center">
    <label class="ml-3 text-sm font-bold text-blue-400 tracking-wide">
      Senha
    </label>
    <input
      class="w-full content-center text-base px-4 py-2 border-b rounded-2xl border-blue-300 focus:outline-none focus:border-blue-500"
      type="password" placeholder="*********" required>
  </div>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <input id="remember_me" name="remember_me" type="checkbox"
        class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-blue-300 rounded">
      <label for="remember_me" class="ml-2 block text-sm text-blue-400">
        Lembrar-me
      </label>
    </div>
    <div class="text-sm">
      <a href="#" class="text-blue-600 hover:text-blue-400">
        Esqueceu a Senha?
      </a>
    </div>
  </div>
  <div class="pt-4">
    <button type="submit"
      class="w-full flex justify-center bg-blue-400  hover:bg-gradient-to-l hover:from-blue-500 hover:to-blue-600 text-blue-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
      ACESSAR
    </button>
  </div>
  <p class="flex flex-col items-center justify-center mt-10 text-center text-sm text-blue-500">
    <span>Ainda não possui uma conta?</span>
    <a href="https://suporte.dedicado.digital/"
      class="text-blue-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300">
      Contate o Suporte
    </a>
  </p>
</form>