mat-card {
  max-width: 90%;
  margin: 10% auto;
  border-radius: 8px;
}

mat-card-title {
  padding-top: 20px;
  color: rgb(87, 87, 87);
  text-align: center;
  text-transform: uppercase;
}

mat-card-subtitle {
  color:rgba(196, 196, 196, 0.719);
  text-align: center;
  text-transform: uppercase;
}

mat-card-content {
  margin-top: 20px;
}

mat-form-field {
  width: 90%;
  display: block;
  margin: auto;
}

re-captcha {
  display: flex;
  width: 90%;
  padding: 20px;
  margin: auto;
  align-items: center;
  align-content: center;
}

button {
  display: block;
  width: 90%;
  margin: 20px auto;
  text-transform: uppercase;
}

mat-card-footer {
  color: rgb(87, 87, 87);
  font-size: x-small;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

mat-card-footer a {
  text-decoration: none;
  color: rgb(32, 21, 107);
}
