<mat-card class="mat-elevation-z20">
  <mat-card-title>Sistema Dedicado</mat-card-title>
  <mat-card-subtitle>Autenticação Necessária </mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="formLogin" novalidate>
      <mat-form-field color="primary">
        <input matInput formControlName="email" type="text" #email_login placeholder="seu@email.com" maxlength="50">
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint align="end">{{email_login.value.length}} / 50</mat-hint>
        <mat-error>Complete o campo corretamente!</mat-error>
      </mat-form-field>

      <mat-form-field color="primary">
        <input matInput formControlName="password" type="password" #password_login placeholder="***" maxlength="18">
        <mat-icon matSuffix>password</mat-icon>
        <mat-hint align="end">{{password_login.value.length}} / 18</mat-hint>
        <mat-error>Complete o campo corretamente!</mat-error>
      </mat-form-field>

      <re-captcha formControlName="recaptcha" siteKey="{{captchaKey}}"></re-captcha>

      <button mat-raised-button color="primary" type="submit" (click)="userLogin()"
        [disabled]="!formLogin.valid">Acessar</button>
    </form>
  </mat-card-content>
<mat-card-footer>
<small>Se precisar de ajuda acesse o <b><a href="https://suporte.dedicado.digital/" target="_blank">Suporte Dedicado</a></b></small>
</mat-card-footer>
</mat-card>
