.access-page {
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  align-items: center;
  background-image: url(https://source.unsplash.com/random?computer,code);
  background-size: cover;
}

.access-page::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.795);
}
