<div
  class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
  <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
    <div class="relative">
      <div class="absolute">
        <div class="">
          <h1 class="my-2 text-gray-800 font-bold text-2xl">
            Ops! Parece que você encontrou a porta para o grande nada :o
          </h1>
          <p class="my-2 text-gray-800">
            Vamos recomeçar?<br> Por favor, visite nossa página inicial para chegar onde você precisa ir.
          </p>
          <button routerLink="/"
            class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-opacity-50">
            Ir para a Página Inicial
          </button>
        </div>
      </div>
      <div>
        <img src="../../../../assets/images/sd-404-error.png" alt="Erro de Acesso" />
      </div>
    </div>
  </div>
  <div>
    <img src="../../../../assets/images/sd-404-unpluged.png" alt="Erro de Página" />
  </div>
</div>